.podcast {
    .item{
        background-color: rgba(255,255,255,.9) !important;
        padding: 10px;
        border-radius: 2px;
        margin-bottom:10px;
    }
    // ion-thumbnail{
    //     // text-align: center;
    //     // padding: 1em 1em 1em 1em;
    //     position: absolute;
    //     top: 0rem;
    //     display: -webkit-inline-box;
    //     display: -webkit-inline-flex;
    //     display: -ms-inline-flexbox;
    //     display: inline-flex;
    //     min-width: 8rem;
    //     min-height: 8rem;
    //     margin: 8px 16px 8px 0;
    //
    // }
    // ion-thumbail button{
    //     background: #222;
    //     opacity: .8;
    // }
}
